// ===========================================
// Margin - Default Theme
// ===========================================

$theme-margin: (
    small: 10px,
    medium: 20px
);

$theme-padding: (
    small: 10px,
    medium: 20px
);
