---
layout: default
topbar_active: home
---
<div class="row">
  <div class="gr-9 gr-12--tablet gr-12--mobile">
    {% assign latest_post = paginator.posts[0] %}
    <div class="card">
      <div class="gr-7 gr-12--mobile gr-12--tablet card__thumbnail no-gutter-left no-gutter-right--mobile">
	<img class="card__thumbnail__img" src="{{ latest_post.feature_image | prepend: 'img/' | prepend: site.asseturl }}" />
      </div>
      <div class="gr-5 gr-12--mobile gr-12--tablet card__content no-gutter-right">
	<div class="card-info u-mg-btm--medium">
	  <span class="card-info__date"><i class="i-calendar"></i>&nbsp;&nbsp;{{ latest_post.date | date: "%b %-d, %Y" }}</span>
	  <span class="card-info__tags">
            {% for tag in latest_post.tags %}
            <a class="tag" href="{{ "/tag/" | prepend: site.baseurl | append: tag | append: "/" | downcase }}">{{ tag }}</a>
            {% endfor %}
	  </span>
	</div>	  	  
	<a class="card__title u-text-post--x-large" href="{{ latest_post.url }}">{{ latest_post.title }}</a>
      </div>
    </div>
    <div class="row">
      {% for post in paginator.posts %}
      {% unless forloop.first %}
      <div class="gr-4 gr-12--mobile">
	{% if post.feature_image %}
	{% include card-with-thumbnail.html %}
	{% else %}
	{% include card.html %}
	{% endif %}
      </div>
      {% endunless %}
      {% endfor %}
      {% include pagination.html %}      
    </div>
  </div>
  <div class="gr-3 hide--tablet hide--mobile">
    {% include aside.html %}
  </div>
</div>
