// ===========================================
// Default Theme
// ===========================================
// See how it has the same structure as main
// framework?

$global-use-theme: true; // set to use theme
$theme-max-breakpoint: 1224px;

// List all components you want to use
$theme-button-enable: true;
$theme-card-enable: true;
$theme-icon-enable: true;
$theme-paginator-enable: true;
$theme-post-enable: true;
$theme-quote-enable: true;
$theme-tag-enable: true;
$theme-topbar-enable: true;
$theme-tree-enable: true;

// -------------------------------------------
// Base
// -------------------------------------------

@import "base/colors";
@import "base/typography";
@import "base/border";
@import "base/margin";
@import "base/syntax-highlighter";

// -------------------------------------------
// Components
// -------------------------------------------

@import "components/button";
@import "components/card";
@import "components/icon";
@import "components/paginator";
@import "components/post";
@import "components/quote";
@import "components/tag";
@import "components/topbar";
@import "components/tree";
