<header class="topbar">

  <nav class="container">
    <div class="row">
      <div class="gr-3">
	<a class="topbar__title" href="/">{{ site.title }}</a>
      </div>

      <ul class="topbar-nav gr-9">
	<li class="topbar-nav__item">
	  <a class="topbar-nav__link active">Home</a>
	</li>
	<li class="topbar-nav__item">
	  <a class="topbar-nav__link">About</a>
	</li>
	<li class="topbar-nav__item">
	  <a class="topbar-nav__link">Archives</a>
	</li>
	<li class="topbar-nav__item">
	  <a class="topbar-nav__link">Contacts</a>
	</li>      	
      </ul>
    </div>
  </nav>

</header>
