{% assign topbar_active = page.topbar_active %}

<header class="topbar">

  <nav class="container">
    <div class="row">
      <div class="gr-3">
	<a class="topbar__title" href="/">{{ site.title }}</a>
      </div>

      <ul class="topbar-nav gr-9">
	<li class="topbar-nav__item">
	  <a class="topbar-nav__link {% if topbar_active == 'home' %}{{ 'active' }}{% endif %}" href="/">Home</a>
	</li>
	<li class="topbar-nav__item">
	  <a class="topbar-nav__link {% if topbar_active == 'about' %}{{ 'active' }}{% endif %}" href="/about">About</a>
	</li>
      </ul>
    </div>
  </nav>

</header>
