{% if paginator.total_pages > 1 %}
<div class="gr-12 paginator paginator--duo">
  {% if paginator.previous_page %}
  <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="btn btn--common paginator__prev"><i class="i-chevron-left"></i>&nbsp;&nbsp;Newer Posts</a>
  {% endif %}
  {% if paginator.next_page %}
  <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="btn btn--common paginator__next">Older Posts&nbsp;&nbsp;<i class="i-chevron-right"></i></a>
  {% endif %}
</div>
{% endif %}  
