// ===========================================
// Post - Default Theme
// ==========================================

$theme-post-margin: 20px;
$theme-post-padding: 20px;
$theme-post-border-radius: 3px;
$theme-post-title-margin: 20px;
$theme-post-subtitle-margin: 10px;
$theme-post-paragraph-margin: 10px;

$theme-post-font-size: (
    medium: 21px,
    large: 32px,
    x-large: 40px
);

$theme-post-line-height: (
    medium: 1.5,
    large: 1.2,
    x-large: 1.2
);
