// ===========================================
// Default Theme
// ===========================================
// See how it has the same structure as main
// framework?

$global-use-theme: true; // set to use theme
$theme-max-breakpoint: 1224px;

// Exclude components you want to use
$theme-box-enable: false;
$theme-dropdown-enable: false;
$theme-field-enable: false;
$theme-modal-enable: false;
$theme-notification-enable: false;

// -------------------------------------------
// Base
// -------------------------------------------

@import "base/colors";
@import "base/typography";
@import "base/border";
@import "base/margin";

// -------------------------------------------
// Components
// -------------------------------------------

@import "components/button";
@import "components/card";
@import "components/icon";
@import "components/paginator";
@import "components/post";
@import "components/quote";
@import "components/tag";
@import "components/topbar";
@import "components/tree";

@import "ayu";
