// ===========================================
// Default Theme
// ===========================================
// See how it has the same structure as main
// framework?

$global-use-theme: true; // set to use theme
$theme-max-breakpoint: 1224px;

$theme-box-enable: true;
$theme-button-enable: true;
$theme-card-enable: true;
$theme-dropdown-enable: false;
$theme-field-enable: false;
$theme-icon-enable: true;
$theme-modal-enable: false;
$theme-notif-enable: false;
$theme-paginator-enable: true;
$theme-post-enable: true;
$theme-quote-enable: true;
$theme-sidebar-enable: false;
$theme-tag-enable: true;
$theme-topbar-enable: true;
$theme-tree-enable: true;

// -------------------------------------------
// Base
// -------------------------------------------

@import "base/colors";
@import "base/typography";
@import "base/border";
@import "base/margin";
@import "base/syntax-highlighter";

// -------------------------------------------
// Components
// -------------------------------------------

@import "components/box";
@import "components/button";
@import "components/card";
@import "components/field";
@import "components/icon";
@import "components/notification";
@import "components/paginator";
@import "components/post";
@import "components/quote";
@import "components/sidebar";
@import "components/tag";
@import "components/topbar";
@import "components/tree";
