// ===========================================
// Color - Default Theme
// ===========================================

$bright-gray: #edf2f4;
$gray: #d8dcde;
$deep-gray: #979b9c;
$navy: #8d99ae;
$blues: #2b2d42;
$bright-blues: #51a7e8;
$white: #fff;
$black: #0c0d12;
$pink: #ef233c;
$bright-red: #dc1a3c;
$red: #d90429;
$bright-green: #60b044;
$green: #569e3d;
$deep-green: #5ca941;

// ===========================================
// Color - Another Theme - Need To Be Refactor
// ===========================================
$zomp: #43aa8b;
$dark-zomp: #54b195;
$jelly-bean: #db504a;
$bitter-sweet: #ff6f59;
$melon: #ffbdb3;
$peach: #ffb0a4;
$japanese-indigo: #254441;
$timberwolf: #dcdbd1;
$laurel-green: #b2b09b;
$deep-laurel-green: #515047;
$white-smoke: #f8f7f5;

// -------------------------------------------
// Super Global Color
// -------------------------------------------

$theme-color-text: $black;
$theme-color-background: $white-smoke;
