// =====================================================
// Text Utilities
// =====================================================

$u-text-prefix: "u-text";
$u-text-variants: small medium large x-large xx-large;
$u-text-post-variants: medium large x-large;

@each $variant in $u-text-variants {
    .#{$u-text-prefix}--#{$variant} {
        font-size: map-get($theme-font-size, $variant);
        line-height: map-get($theme-line-height, $variant);
    }
}

@each $variant in $u-text-post-variants {
    .#{$u-text-prefix}-post--#{$variant} {
        font-size: map-get($theme-post-font-size, $variant);
        line-height: map-get($theme-post-line-height, $variant);
    }
}

.#{$u-text-prefix}--bold {
    font-weight: bold;
}

.#{$u-text-prefix}--op-3 {
    opacity: .3;
}
