// ===========================================
// Box - Default Theme
// ==========================================

$theme-box-padding: 20px;
$theme-box-border-width: $theme-border-width;
$theme-box-border-radius: $theme-border-radius;
$theme-box-border-style: $theme-border-style;
$theme-box-text-align: left;
