// ===========================================
// Post - Default Theme
// ==========================================

$theme-post-margin: map-get($theme-margin, medium);
$theme-post-padding: map-get($theme-margin, medium);
$theme-post-border-radius: $theme-border-radius;
$theme-post-title-margin: map-get($theme-margin, medium);
$theme-post-subtitle-margin: map-get($theme-margin, small);
$theme-post-paragraph-margin: map-get($theme-margin, small);
$theme-post-paragraph-text-align: justify;
$theme-post-blockquote-border-width: 3px;
$theme-post-blockquote-padding-left: 1em;


$theme-post-font-size: (
    medium: 21px,
    large: 32px,
    x-large: 40px
);

$theme-post-line-height: (
    medium: 1.5,
    large: 1.2,
    x-large: 1.2
);

$theme-color-link-cta-normal: (
    dark: $zomp,
    light: $laurel-green
);

$theme-color-link-cta-hover: (
    dark: $dark-zomp,
    light: $deep-laurel-green
);

// Post
$theme-color-post: (
    background: $white,
    foreground: $black,
    title: $japanese-indigo,
    blockquote: $japanese-indigo,
    border: $timberwolf,
    link-default: $zomp,
    link-hover: $dark-zomp,
    date: $laurel-green
);
