// ===========================================
// Tag - Default Theme
// ==========================================

$theme-tag-padding: 2px 4px;
$theme-tag-margin: 5px;
$theme-tag-border-radius: 3px;
