// =====================================================
// Notification
// =====================================================
// "We style it because the built-in is suck"

$notif-prefix: "notif";
$theme-notif-enable: false !default;

@if ($theme-notif-enable == true) {

.#{$notif-prefix} {
    @include border($theme-border-size,
		            $theme-border-style,
                    map-get($theme-color-notif-warning, foreground),
		            $theme-border-radius);

    font-size: map-get($theme-font-size, medium);
    font-family: $theme-font-family;

    color: $theme-color-background;
    background: map-get($theme-color-notif-warning, background);

    padding: map-get($theme-notif-padding, medium);

    position: relative;

    &__action {
        position: absolute;
        top: 3px;
        right: 5px;
    }

    &--error {
        border-color: map-get($theme-color-notif-error, foreground);
        background: map-get($theme-color-notif-error, background);
    }
}

}
