// =====================================================
// Paginator
// =====================================================
// "We style it because the built-in is suck"

$paginator-prefix: "paginator" !default;

@if ($theme-paginator-enable == true) {

.#{$paginator-prefix} {
    @include clearfix;
    display: block;
    margin: $theme-paginator-margin;

    &__prev {
        float: left;
    }

    &__next {
        float: right;
    }
}

}
