// =====================================================
// Quote
// =====================================================
// "We style it because the built-in is suck"

$quote-prefix: "quote" !default;

.#{$quote-prefix} {
    display: block;
    box-sizing: border-box;
    padding: $theme-quote-padding;
    border-radius: $theme-quote-border-radius;
    background: map-get($theme-color-quote, background);
    color: map-get($theme-color-quote, foreground);
}
