// ===========================================
// Quote - Default Theme
// ==========================================

$theme-quote-padding: map-get($theme-margin, small);
$theme-quote-border-radius: 5px;

// Quote
$theme-color-quote: (
    background: $peach,
    foreground: $white
);
