// =====================================================
// Topbar
// =====================================================
// "We style it because the built-in is suck"

$topbar-prefix: "topbar" !default;

@if ($theme-topbar-enable == true) {

.#{$topbar-prefix} {
    @include clearfix;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    background: map-get($theme-color-topbar, background);
    border-bottom: 1px solid map-get($theme-color-topbar, border);

    @media screen and (max-width: $theme-max-breakpoint) {
        padding: 0 20px;
    }

    &__title {
        text-decoration: none;
        font-size: map-get($theme-font-size, large);
        line-height: 32px;
        font-weight: map-get($theme-font-weight, super-bold);
        color: map-get($theme-color-topbar, foreground);
    }

    &__menu-btn {
        display: none;
        float: right;

        @include gridle_state(mobile) {
            display: inline-block;
        }
    }
}

.#{$topbar-prefix}-nav {
    list-style: none;
    margin: 0;
    margin-bottom: -1px;
    padding: 0;
    text-align: right;

    &__item {
        display: inline-block;
    }

    &__link {
        box-sizing: border-box;
        text-align: left;
        font-size: map-get($theme-font-size, medium);
        line-height: map-get($theme-font-size, medium);
        font-weight: map-get($theme-font-weight, bold);
        color: map-get($theme-color-topbar, link-default);
        text-decoration: none;
        padding: $theme-topbar-padding;
        display: inline-block;

        &.active {
            color: map-get($theme-color-topbar, link-active);
            border-bottom: 3px solid map-get($theme-color-topbar, foreground);
        }

        &.active:hover {
            color: map-get($theme-color-topbar, link-active);
        }

        &:hover {
            cursor: pointer;
            color: map-get($theme-color-topbar, link-hover);
        }
    }
}

.#{$topbar-prefix}-nav--full {
    display: none;

    .#{$topbar-prefix}-nav__item {
        display: block;
    }

    .#{$topbar-prefix}-nav__link {
        display: block;
    }
}

}
