---
layout: default
---
<h1 class="u-text--large u-mg-btm--medium">
  {% if page.type == 'month' %}
  Archive for {{ page.date | date: "%Y %b" }}
  {% elsif page.type == 'year' %}
  Archive for {{ page.date | date: "%Y" }}
  {% elsif page.type == 'category' %}
  {{ page.type }} '{{ page.title }}'
  {% elsif page.type == 'tag' %}
  {{ page.type }} '{{ page.title }}'  
  {% endif %}
</h1>
<div class="row">
  {% for post in page.posts %}
  <div class="gr-3 gr-12--mobile">
    {% if post.feature_image %}
    {% include card-with-thumbnail.html %}
    {% else %}
    {% include card.html %}
    {% endif %}
  </div>
  {% endfor %}
</div>
