---
layout: default
---
<div class="row">
  <div class="gr-9 gr-12--tablet gr-12--mobile">
  <article class="post card" itemscope itemtype="http://schema.org/BlogPosting">

    <header>
      <div class="card__thumbnail">
	<img class="card__thumbnail__img" src="{{ page.feature_image | prepend: 'img/' | prepend: site.asseturl }}">
      </div>
      <div class="card-info u-mg-btm--small">
	<span class="card-info__date"><i class="i-calendar"></i>&nbsp;&nbsp;{{ page.date | date: "%b %-d, %Y" }}</span>
	<span class="card-info__tags">
          {% for tag in page.tags %}
          <a class="tag" href="{{ "/tag/" | prepend: site.baseurl | append: tag | append: "/" | downcase }}">{{ tag }}</a>
          {% endfor %}
	</span>
      </div>      
      <h1 class="post__title" itemprop="name headline">{{ page.title }}</h1>
    </header>

    <div class="post__body" itemprop="articleBody">
      {{ content }}
    </div>

  </article>
  </div>

  <div class="gr-3 hide--tablet hide--mobile">
    {% include aside.html %}
  </div>
</div>
