---
layout: default
---
<div class="row">
  <div class="gr-9">
  <article class="post" itemscope itemtype="http://schema.org/BlogPosting">

    <header>
      <div class="post__feature-img">
	<img src="{{ page.feature_image | prepend: 'img/' | prepend: site.asseturl }}">
      </div>
      <h1 class="post__title" itemprop="name headline">{{ page.title }}</h1>
      <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
    </header>

    <div class="post__body" itemprop="articleBody">
      {{ content }}
    </div>

  </article>
  </div>

  <div class="gr-3">
    {% include aside.html %}
  </div>
</div>
